{% load cache %}
{% load i18n %}
{% cache 86400 masthead %}
<div class="blog-masthead">
    <div class="container">
        <nav class="blog-nav">
{#            <span class="blog-nav-item">LIANTIAN'S LOG</span>#}
            <a class="blog-nav-item" href="/">Home</a>
            {% for p in pages %}
            <a class="blog-nav-item" href="{% url 'post' year=p.date.year month=p.date.month day=p.date.day url_slug=p.url_slug %}">{{ p.title }}</a>
            {% endfor %}
        </nav>
    </div>
</div>
{% endcache %}

