{% load cache %}
{% load i18n %}
{% load static from staticfiles %}
<div class="sidebar-module">
    <h4>{% trans "Link" %}</h4>
        <!--
        <a href="https://github.com/liantian-cn" class="social_label" target="_blank" rel="nofollow"><img src="{% static "image/social_github.png" %}" width="24" alt="Github" align="absmiddle"> &nbsp;Github</a>
        <a href="https://twitter.com/geeklian" class="social_label" target="_blank" rel="nofollow"><img src="{% static "image/social_twitter.png" %}" width="24" alt="Twitter" align="absmiddle"> &nbsp;Twitter</a>
        <a href="https://coding.net/u/liantian/" class="social_label" target="_blank" rel="nofollow"><img src="{% static "image/social_coding.png" %}" width="24" alt="Coding.net" align="absmiddle"> &nbsp;Coding.net</a>
        <a href="https://secure.us.playstation.com/logged-in/trophies/public-trophies/?onlineId=liantian-hk" class="social_label" target="_blank" rel="nofollow"><img src="{% static "image/social_ps.png" %}" width="24" alt="PS" align="absmiddle"> &nbsp;PSN</a>
        <a href="http://steamcommunity.com/id/geeklien" class="social_label" target="_blank" rel="nofollow"><img src="{% static "image/social_steam.png" %}" width="24" alt="Steam" align="absmiddle"> &nbsp;Steam</a>
        <a href="http://us.battle.net/d3/en/profile/GeekLian-1910/" class="social_label" target="_blank" rel="nofollow"><img src="{% static "image/social_bn.png" %}" width="24" alt="BN" align="absmiddle"> &nbsp;Battle.net</a>
        -->
        <a href="https://github.com/liantian-cn" class="social_label" target="_blank" rel="nofollow"><img src="https://static.liantian.me/download/ag9zfndlYnN0YXRpY2ZpbGVyEgsSBUVudHJ5GICAgIDejJAKDA" width="24" alt="Github" align="absmiddle"> &nbsp;Github</a>
        <a href="https://twitter.com/geeklian" class="social_label" target="_blank" rel="nofollow"><img src="https://static.liantian.me/download/ag9zfndlYnN0YXRpY2ZpbGVyEgsSBUVudHJ5GICAgICAuYQJDA" width="24" alt="Twitter" align="absmiddle"> &nbsp;Twitter</a>
        <a href="https://coding.net/u/liantian/" class="social_label" target="_blank" rel="nofollow"><img src="https://static.liantian.me/download/ag9zfndlYnN0YXRpY2ZpbGVyEgsSBUVudHJ5GICAgIDtsYMKDA" width="24" alt="Coding.net" align="absmiddle"> &nbsp;Coding.net</a>
        <a href="https://secure.us.playstation.com/logged-in/trophies/public-trophies/?onlineId=liantian-hk" class="social_label" target="_blank" rel="nofollow"><img src="https://static.liantian.me/download/ag9zfndlYnN0YXRpY2ZpbGVyEgsSBUVudHJ5GICAgIDtsYMJDA" width="24" alt="PS" align="absmiddle"> &nbsp;PSN</a>
        <a href="http://steamcommunity.com/id/geeklien" class="social_label" target="_blank" rel="nofollow"><img src="https://static.liantian.me/download/ag9zfndlYnN0YXRpY2ZpbGVyEgsSBUVudHJ5GICAgIDat5cKDA" width="24" alt="Steam" align="absmiddle"> &nbsp;Steam</a>
        <a href="http://us.battle.net/d3/en/profile/GeekLian-1910/" class="social_label" target="_blank" rel="nofollow"><img src="https://static.liantian.me/download/ag9zfndlYnN0YXRpY2ZpbGVyEgsSBUVudHJ5GICAgICr84cKDA" width="24" alt="BN" align="absmiddle"> &nbsp;Battle.net</a>
</div>