{% load cache %}
{% load i18n %}
<div class="sidebar-module">
    <h4>{% trans " " %}</h4>

    <p><img src="https://static.liantian.me/download/ag9zfndlYnN0YXRpY2ZpbGVyEgsSBUVudHJ5GICAgIDtrZIKDA" width="120" height="25" /></p>
    <p><img src="https://static.liantian.me/download/ag9zfndlYnN0YXRpY2ZpbGVyEgsSBUVudHJ5GICAgIDtsYMLDA" width="120" height="25"/></p>
    <p><img src="https://static.liantian.me/download/ag9zfndlYnN0YXRpY2ZpbGVyEgsSBUVudHJ5GICAgICZzpQKDA" width="120" height="25"/></p>

</div>